<h2>Create New Comment</h2>
<form action="/auth/create" method="post">
 
<input type='text' name = 'name' placeholder = 'name'>
<input type="text" name="description" placeholder="description">
<input type="text" name="imageUrl" placeholder="imageUrl">
<button type ='submit'>Create New Comment</button>
</form>

