<form action="/" method ="POST">
    <label> 
        <input type="text" placeholder="Search For Events">
    </label>
</form>

<h3>Example Event</h3>
<a href="/auth/event-details">Click here for more Details</a>
<button type="submit">Recommend to Friend</button>