<h2>Edit Comments</h2>



<form action="/auth/{{_id}}/edit" method="POST">
    <textarea name= "comment" cols="30" rows="4">
        {{comment}}
        </textarea>
        <br>
    <button type="submit">Submit Changes</button>    
</form>
