<h1>Example Event</h1>
<img src="https://static01.nyt.com/images/2014/07/23/upshot/23UP-cat/23UP-cat-superJumbo.jpg" height="500">

<p>Event Name - Date</p>
<p>Event Artist(s)</p>
<p>Venue Location</p>
<br>
<button type="submit">Recommend to Friend</button>
<aside>Google Map</aside>
<a href="/">Buy Tickets</a>
