

<h3>My Events</h3>
<ul>
    <li>Event 1</li>
    <li>Event 2</li>
    <li>Event 3</li>
</ul>
<h3>My Artists</h3>
<ul>
    <li>Top artist 1</li>
    <li>Top artist 2</li>
    <li>Top artist 3</li>
    <li>Top artist 4</li>
    <li>Top artist 5</li>
    <li>Top artist 6</li>
    <li>Top artist 7</li>
    <li>Top artist 8</li>
    <li>Top artist 9</li>
    <li>Top artist 10</li>
</ul>
<h3>My Favorite Songs</h3>
<ul>
    <li>Favorite Songs 1</li>
    <li>Favorite Songs 2</li>
    <li>Favorite Songs 3</li>
    <li>Favorite Songs 4</li>
    <li>Favorite Songs 5</li>
</ul>
<br>
<br>
<a href="/auth/discover-events">Discover Events</a>
<a href="/auth/search-song">Discover New Music</a>


<div class="app-placeholder-calendar" data-id="proj_yOjGktpfcdO43IwG4WG5V"></div>
<script type="text/javascript" src="//platform.eventscalendar.co/plugins/web/loader.js?app=calendar" id="Inffuse-Loader"></script>