<div class="app-placeholder-calendar" data-id="proj_yOjGktpfcdO43IwG4WG5V"></div>
<script type="text/javascript" src="//platform.eventscalendar.co/plugins/web/loader.js?app=calendar" id="Inffuse-Loader"></script>