
<h3>My Artists</h3>
<form action= "" method="POST">
    <label>
        <input type="text" placeholder="Add New Favorite Artist">
    </label>
    <button type="submit">Submit</button>
</form>
<h3>My Favorite Songs</h3>
    <label>
        <input type="text" placeholder="Add New Favorite Song">
    </label>
    <button type="submit">Submit</button>
<br>
<br>
<a href="/auth/discover-events">Discover Events</a>
<a href="/auth/search">Discover New Music</a>

<br>
<br>
<form class="/" method ="POST">
<label for="recommendations">Recommend Music
    <br><textarea name="recommendations" rows="4" cols="30"></textarea>
</label>
<br>
<button type="submit">Submit</button>
</form>




<div class="app-placeholder-calendar" data-id="proj_yOjGktpfcdO43IwG4WG5V"></div>
<script type="text/javascript" src="//platform.eventscalendar.co/plugins/web/loader.js?app=calendar" id="Inffuse-Loader"></script>