<br>
<br>
<br>
<br>
<h2>Find your Sound</h2>
<div class = 'container'>
    
    <form action="/auth/search-results" method ="GET">
        <label>
            <input class = 'form-control' id="artist" name="search" type="text" placeholder="Track, Album, Artist Name Here">
        </label>
        <button class="btn btn-secondary btn-sm" type="submit">Search</button>
    </form>
    
    {{!-- <h3>Example</h3>
    <a href="/artist-details">Discography</a>
    <button type="submit">Recommend to Friend</button> --}}
</div>
