<form action="/" method ="POST">
    <label> 
        <input type="text" placeholder="Search For Artist">
    </label>
</form>

<h3>Example Song</h3>
<a href="/song-details">Click here for more information</a>
<button type="submit">Recommend to Friend</button>