

<form action="/" method ="POST">
    <label> 
        <input type="text" placeholder="Search For Artist">
    </label>
</form>

<h3>Example Artist</h3>
<a href="/artist-details">Discography</a>
<button type="submit">Recommend to Friend</button>