<br>
<br>
<br>
<br>


<form action="/auth/search-results" method ="GET">
    <label> 
        <input id="artist" name="search" type="text" placeholder="Search For Artist">
    </label>
    <button type="submit">Search</button>
</form>

<h3>Example</h3>
<a href="/artist-details">Discography</a>
<button type="submit">Recommend to Friend</button>
