<br>
<br>
<br>
<br>


<form action="/auth/search-artist" method ="GET">
    <label> 
        <input type="text" placeholder="Search For Artist">
    </label>
    <button type="submit">Search for an Artist</button>
</form>

<h3>Example Artist</h3>
<a href="/artist-details">Discography</a>
<button type="submit">Recommend to Friend</button>


