<br>
<br>
<form action="/auth/signup" method="POST">
   <label>
      <input type="text" name="username" placeholder="Username">
   </label>
   <br>
   <label>
      <input type="text" name="firstName" placeholder="First Name">
   </label>
   <br>
   <label>
      <input type="text" name="lastName" placeholder="Last Name">
   </label>
   <br>
   <label>
      <input type="password" name="password" placeholder="Password">
   </label>
<br>
   <button type="submit">Submit</button>
</form>
<br>
<a href="/auth/login">Already a user? Click here to sign in</a>
   
