




<div class = 'landing'>
    <h1>Welcome to Song Bird!</h1>
        <p>Don't miss out on the sound!</p>
<img src="/images/Song_Bird_Logo.png" width="550" height="500" alt="Logo">
        <p class="indexSnippet">Welcome to your your new home for music, where you and your friends can come and share your love for the obscure music that you would normally listen to in 
            the comfort of your home, but on the internet!
        </p>
</div>

<div id = 'footnote'>
Made By: Michael Rodiles, Kyle Pla, and Rodrigo Gonzalez
    <a href= "https://github.com/rgonzalez09/song-bird">
        <img src="/images/GitHub-Mark-32px.png">
    </a>
</div>