<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
         <img src="/images/Song_Bird_Logo.png" width="50" height="50" alt="Logo">
         <ul>
            <li class = "nav-header"><a href="/">Home</a></li>
            <li class = "nav-header"><a href="/auth/signup">Sign Up</a></li>
            <li class = "nav-header"><a href="/auth/login">Sign In</a></li>
            <li class = "nav-header"><a href="/auth/profile">Profile</a></li>
            <li class = "nav-header"><a href="/">Discover Music</a></li>
            <li class = "nav-header"><a href="/">User Directory</a></li>
         </ul>
      </nav>



      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>