<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Song Bird - Discover your favorite music</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css">
   </head>

   <body>
      <div class="nav-container">
         <nav>
            <ul>
               <img src="/images/Song_Bird_Logo.png" width="50" height="50" alt="Logo">
               <li class = "nav-header" id="home-li"><a href="/">Home</a></li>
               <li class = "nav-header" id="signup-li"><a href="/auth/signup">Sign Up</a></li>
               <li class = "nav-header" id="signin-li"><a href="/auth/login">Sign In</a></li>

               {{#if currentUser}}
               <li class = "nav-header" id="profile-li"><a href="/auth/profile/{{currentUser._id}}">Profile</a></li>
               <li class = "nav-header" id="directory-li"><a href="/auth/userlist">Directory</a></li>
               <li class = "nav-header" id="logout"><a href="/auth/logout">Logout</a></li>
               {{/if}}
            </ul>
         </nav>
      </div>
      <br>
      <br>
      <br>
      <br>
      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>