* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 850px;
  margin-right: 850px;
  padding-bottom: 10px;
  background-size: 400vw 400vh;
  align-items: center;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
}

.login form button {
  margin-left: 50px;
}

.signup {
  display: flex;
  flex-direction: column;
  margin-left: 700px;
  margin-right: 700px;
  padding-top: 20px;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  align-self: center;
}

.signup form {
  padding-left: 150px;
}
.signup form button {
  margin-left: 50px;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
}

.landing div {
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
}

.indexSnippet {
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  text-align: center;
}

.logo {
  color: rgb(240, 233, 233);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

body {
  background-image: url("/images/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

body h3 {
  color: rgb(201, 243, 245);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  width: 85%;
}

body li {
  color: rgb(240, 233, 233);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

body a {
  color: rgb(201, 243, 245);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

h2 {
  color: rgb(201, 243, 245);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.profile {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.profileButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  align-content: center;
  align-items: center;
  max-width: 650px;
}

.container button {
  margin-left: 64px;
  margin-bottom: 10px;
}

#results {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  margin-left: 150px;
}

#results h5 {
  margin-right: 150px;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
}

#results img {
  display: flex;
  justify-content: space-between;
  height: 400px;
  width: 400px;
  border-radius: 10px;
  margin-right: 150px;
}

#results a {
  margin-right: 150px;
}

#results p {
  max-width: 400px;
}

button {
  border-radius: 5px;
}

/* /* Profile Favorites  */

.favoritesBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#artist-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.artistBox {
  width: 600px;
  height: 250px;
  letter-spacing: 3px;
  background-color: rgba(88, 98, 123, 0.95);
  background-blend-mode: luminosity;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}

.artist {
  height: 100px;
  display: flex;
  justify-content: center;
}

.artist img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50px;
}

.artist a {
  font-size: 10pt;
  padding-left: 10px;
  padding-right: -50px;
}

.songBox {
  width: 600px;
  height: 250px;
  letter-spacing: 3px;
  background-color: rgba(88, 98, 123, 0.95);
  background-blend-mode: luminosity;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}

.songs {
  height: 100px;
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.songs a {
  font-size: 10pt;
  padding-left: 10px;
  padding-right: -50px;
}

.songs img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
}

.albumsBox {
  width: 600px;
  height: 250px;
  letter-spacing: 3px;
  background-color: rgba(88, 98, 123, 0.95);
  background-blend-mode: luminosity;
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}

.albums {
  height: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  margin-left: 50px;
}

.albums a {
  font-size: 10pt;
  padding-left: 10px;
  padding-right: -50px;
}

.albums img {
  border-radius: 5px;
  width: 100px;
  height: 100px;
  flex-direction: column;
  justify-content: center;
  margin-left: 120px;
}

#album-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

.search-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  max-width: 510px;
  padding-right: 50px;
  padding-left: 50px;
  text-align: center;
}

#album-details div h5 {
  text-align: center;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  margin-right: 150px;
  margin-left: 150px;
}

#track-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -50px;
}

a {
  color: #00b7ff;
}

nav a {
  text-decoration: none;
}

.error {
  background-color: red;
}

/* Nav Bar Style */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(51, 120, 122);
  font-family: "Poppins", sans-serif;
}

.nav img {
  display: flex;
  justify-content: space-around;
  align-items: flex-left;
}

.logo {
  color: rgb(240, 233, 233);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  padding-top: 10px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-bottom: -10px;
}
.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(240, 233, 233);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  max-height: 90px;
}

.commentBox {
  width: 70%;
  margin: 50px auto 0;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(88, 98, 123, 0.95);
  text-align: center;
}

.comment {
  overflow-y: scroll;
}

#footnote {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.308);
  height: 35px;
  color: rgb(201, 243, 245);
  align-self: flex-end;
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100%;
}

#footnote a img {
  display: flex;
  align-self: flex-end;
}

.user-list {
  text-align: center;
  background-color: rgb(201, 201, 201);
  border-radius: 10px;
  margin-right: 600px;
  margin-left: 600px;
}
