body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/BG.jpg");
  /* background-image: url("/images/Background.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

.error {
  background-color: red;
}

.nav-container {
  position: absolute;
  top: 0vh;
  width: 1920px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: flex-end;
  padding-right: 80px;
}

nav {
  width: 1920px;
  height: 40px;
  display: flex;
}

ul img {
  margin-top: -12.5px;
  margin-right: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 1920px;
  margin-top: 3.5px;
}

li {
  width: 5%;
  height: 60px;
  /* margin: 0 5px; */
}

#home-li {
  margin-right: -10px;
}
#signup-li {
  margin-left: -10px;
}
#signin-li {
  margin-left: -10px;
}
#profile-li {
  margin-left: -10px;
}
#directory-li {
  margin-left: -10px;
}

.results-container img {
  height: 300px;
  width: auto;
}

#results {
  display: flex;
  justify-content: space-around;
}
