body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/BG.jpg");
  /* background-image: url("/images/Background.png"); */
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li {
  width: 60px;
  height: 60px;
  margin: 0 5px;
}

.error {
  background-color: red;
}

nav {
  position: absolute;
  top: 0.3vh;
}
